@{

}

<h1>Get to Know Joel</h1>
    
<div class="link-container">
    <p><a href="https://www.qwcomedy.com/" target="_blank">Visit Quick Wits Comedy</a></p>
    <p><a href="https://baconsale.com/" target="_blank">Check out Baconsale</a></p>
</div>
    
<a href="https://baconsale.com/" target="_blank">
    <img src="~/BaconsaleKate.jpg" alt="Joel's Photo" class="profile-image">
</a>